<div class="container page-container-brutal">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="p-5 brutal-box-large">
        <h2 class="text-center mb-4 fw-bold text-brutal-dark text-uppercase fs-1">Registrati</h2>
        
        <div *ngIf="errorMessage" class="alert alert-danger fw-bold rounded-0 border-3 border-danger">
          {{ errorMessage }}
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold text-brutal-dark">Username</label>
          <input [(ngModel)]="username" type="text" class="form-control form-control-dark py-3 fs-5">
        </div>

        <div class="mb-3">
          <label class="form-label fw-bold text-brutal-dark">Email</label>
          <input [(ngModel)]="email" type="email" class="form-control form-control-dark py-3 fs-5">
        </div>

        <div class="mb-5">
          <label class="form-label fw-bold text-brutal-dark">Password</label>
          <input [(ngModel)]="password" type="password" class="form-control form-control-dark py-3 fs-5">
        </div>

        <button (click)="onRegister()" class="btn btn-elegant-orange w-100 py-3 fs-4">Crea Account</button>
        
        <div class="text-center mt-4">
          <a routerLink="/login" class="brutal-link">Hai già un account? Vai al Login</a>
        </div>
      </div>
    </div>
  </div>
</div>